<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <packageSources>
      <clear/>
      <add key="NuGet" value="http://www.nuget.org/api/v2/" />
   </packageSources>
   <disabledPackageSources />
   <activePackageSource>
      <add key="All" value="(Aggregate source)" />
   </activePackageSource>
   <config>
      <add key="repositoryPath" value="./Packages" />
      <add key="DefaultPushSource" value="http://www.nuget.org/api/v2/" />
   </config>
   <nativeRuntimesMapping>
     <platform name="win7-x64">
       <buildTarget name="StandaloneWindows64" />
     </platform>
     <platform name="win7-x86">
       <buildTarget name="StandaloneWindows" />
     </platform>
     <platform name="win-x64">
       <buildTarget name="StandaloneWindows64" />
     </platform>
     <platform name="win-x86">
       <buildTarget name="StandaloneWindows" />
     </platform>
     <platform name="linux-x64">
       <buildTarget name="StandaloneLinux64" />
     </platform>
     <platform name="osx-x64">
       <buildTarget name="StandaloneOSX" />
     </platform>
   </nativeRuntimesMapping>
</configuration>